* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url("//source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invite {
    position: relative;
    bottom: 73px;
    color: #f2f2f2;
    transition: all 0.3s ease;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.icons-box {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#scissor {
    width: 83px;
}

#rock:hover {
    background-color: #a200ff;
}

#paper:hover {
    background-color: #9ee01a;
}

#scissor:hover {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: #7dbeed;
}

.machine-score span {
    color: red;
}

h3 {
    margin-bottom: 20px;
}